{
  "env": { "test": { "plugins": [ "transform-es2015-modules-commonjs" ] } },
  "plugins": [
    ["module-resolver", {
      "root": ["./app"],
      "alias": {
        "actions": "./app/actions",
        "assets": "./app/assets",
        "components": "./app/components",
        "constants": "./app/constants",
        "containers": "./app/containers",
        "reducers": "./app/reducers",
        "store": "./app/store"
      }
    }],
    "react-hot-loader/babel"
  ],
  "presets": [
    "es2015",
    ["env", {
      "targets": { "browsers": ["last 8 versions"] },
      "useBuiltIns": true
    }],
    "react"
  ]
}
